body{
    font-size: 18px;
    color: #F9FAF8;
    min-height: 100vh;
    margin: 0;
    background-color: #F9FAF8;
}

img{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.space-between{
    display: flex;
    justify-content: center;
    gap:385px;
    align-items: flex-start;
}

.headers{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 130px;
    align-items: flex-end;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.top-content{
    display: flex;
    padding-bottom: 200px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 40px;
}

.extend-background{
    background-color: #1F2937;
    width:100%;
    margin-bottom: 0;
}

.man{
    object-fit: cover;
    width: 500px;
    height: 285.312px;
}

.hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 300px;
    height: auto;
    margin-top: 0;
    font-weight: 900;
}

.hero-text{
    width: 400px;
    font-size: 18px;
    color: #E5E7EB;
    align-self: flex-end;
    margin-bottom: 40px;
}

button{
    background-color: #3882F6;
    border-radius: 10px;
    border: 0;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #F9FAF8;
    font-weight: 900;
}

.content{
    background-color: #F9FAF8;
    color: black;
    margin-bottom: 150px;
}

.centered-title{
    text-align: center;
    padding: 0 75px;
}

.wrapper{
    display: flex;
    justify-content: center;
    gap:35px;
}

.container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: gray;
    font-size: 18px;
    font-weight: 900;
}

.container-text{
    width: 200px;
    margin: 5px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 900px;
    margin: 0;
}

.author{
    font-size: 24px;
    color: black;
    font-weight: 900;
    width: 900px;
    text-align: end;
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-background{
    background-color: #E5E7EB;
    padding: 100px 0;
}

.signup{
    background-color: #3882F6;
    width: 65%;
    height: 150px;
    border-radius: 12px;
    margin:  100px auto;
    display: flex;
    align-items: center;
}

.no-margin{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.action{
    font-size: 24px;
    font-weight: 900;
    padding: 0 0 0 75px;
    align-self: flex-start;
}

.sign{
    padding: 0 0 0 75px;
    align-self: flex-start;
}

.sign-button{
    margin: auto;
    border-color: white;
    border: 2px solid;
    border-radius: 8px;
    text-align: center;
}

.footer{
    background-color: #1F2937;
    padding: 24px;
    text-align: center;
}