body{
    font-size: 18px;
    color: #F9FAF8;
    min-height: 100vh;
    margin: 0;
}

.space-between{
    display: flex;
    justify-content: center;
    gap:385px;
    align-items: flex-start;
}

.headers{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 130px;
    align-items: flex-end;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.top-content{
    display: flex;
    padding-bottom: 200px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 40px;
}

.extend-background{
    background-color: #1F2937;
    width:100%;
}

.man{
    object-fit: cover;
    width: 500px;
    height: 285.312px;
}

.hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 300px;
    height: auto;
    margin-top: 0;
    font-weight: 900;
}

.hero-text{
    width: 400px;
    font-size: 18px;
    color: #E5E7EB;
    align-self: flex-end;
    margin-bottom: 40px;
}

button{
    background-color: #3882F6;
    border-radius: 10px;
    border: 0;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #F9FAF8;
    font-weight: 900;
}

.content{
    background-color: #F9FAF8;
    color: black;
}

.centered-title{
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 200px;
}